@font-face {
  font-family: "Sen-Bold";
  src: url("../assets/font/Sen-Bold.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Sen-Regular";
  src: url("../assets/font/Sen-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

$color-base: #000000;
$color-level-1: #181823;
$color-light-grey: #8491A0;
$color-dark-grey: #5B6876;
$color-text: #FFFFFF;
$color-primary: #5221E6;
$color-green: #3CC74E;
$color-pink: #E95D90;
$color-blue: #609BFF;
$color-peach: #FFF3E4;
$color-violet: #FBE4FF;

$header-height: 88px;
$projects-gap: 24px;

.label_big {
  font-size: 117px;
  line-height: 141px;
}
.h1 {
  font-size: 78px;
  line-height: 94px;
}
.h2 {
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.h3 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2px;
  font-weight: bold;
}
.h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 56px;
    line-height: 67px;
  }
}
@media (max-width: 640px) {
  .h1 {
    font-size: 32px;
    line-height: 38px;
  }
  .h2 {
    font-size: 32px;
    line-height: 38px;
  }
}
.text-body-big {
  font-size: 18px;
  line-height: 27px;
}
.text-body-small {
  font-size: 16px;
  line-height: 24px;
}
.text-overline {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-button {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

}

/*---BUTTONS---*/
.button_purple-border {
  border: 1px $color-primary solid;
  cursor: pointer;
  background-color: transparent;
  color: $color-text;
  text-transform: uppercase;
}
.button_middle {
  padding: 24px 32px;
}
.button_small {
  padding: 12px 16px;
}
.button_purple-border.active,
.button_purple-border.active {
  background-color: $color-primary;
}
/*---INPUTS---*/
.input-small {
  height: 50px;
}
.input-middle {
  height: 100px;
}


.body {
  font-weight: 300;
  width: 100%;
  max-width: 1920px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*basic sizes*/
header, footer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**********-----HEADER-----*********/
.header {
  height: $header-height;
  padding: 0 72px;
  position: relative;
  z-index: 5;
  &__navbar {
    height: 100%;
  }
  .navbar {
    font-family: "Sen-Regular", sans-serif;
    font-weight: 400;
    color: $color-text;
    display: flex;
    align-items: center;
    &__menu {
      display: flex;
      height: 100%;
      margin-block-start: 0;
      margin-block-end: 0;
      .navbar__item {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.7px;
        padding: 0 21px;
        cursor: pointer;
        &.active {
          background-color: $color-primary;
        }
      }
    }
  }
}
.burger {
  width: 18px;
  height: 11px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  span {
    display: inline-block;
    height: 3px;
    background-color: #C4C4C4;
  }
  .burger-line-long {
    width: 18px;
  }
  .burger-line-short {
    width: 13px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 40px;
  }
}
@media (max-width: 640px) {
  .burger {
    display: flex;
  }
  .header {
    height: 72px;
    padding: 0 20px;
    .navbar {
      &__menu {
        padding-inline-start: 0;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 72px;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.4s;
        background-color: $color-level-1;
        .navbar__item {
          padding: 10px 0;
        }
      }
      &__menu.active {
        transform: translateX(0%);
      }
    }
  }
}

/**********-----MAIN >>> hero-----*********/
.main {
  font-family: "Sen-Regular", sans-serif;
  color: $color-text;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}
.hero {
  position: relative;
  top: 0 - $header-height;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  &__content {
    width: 100%;
    padding-right: 40px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-39%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .hero__image {
      position: absolute;
      z-index: -1;
      left: 0;
      height: 65vh;
      width: 52vw;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .hero__info {
      width: 53%;
      font-family: Sen-Bold, sans-serif;
      &__caption {
        margin-bottom: 36px;
        &_grey {
          color: $color-light-grey;
        }
      }
      &__description {
        font-family: Sen-Regular, sans-serif;
      }
    }
  }
  &__background {
    width: 62.5%;
    height: 100%;
    background-color: $color-level-1;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 84vh;
    &__content {
      .hero__info {
        width: 56%;
        margin-top: 10px;
      }
    }
    &__background {
      background-color: transparent;
    }
  }
}
@media (max-width: 640px) {
  .hero {
    padding: 0 20px 48px;
    position: relative;
    top: auto;
    width: 100%;
    height: auto;
    display: block;
    &__content {
      width: 100%;
      padding-right: 0;
      position: relative;
      right: auto;
      top: auto;
      transform: translateY(0%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .hero__image {
        position: relative;
        z-index: 1;
        left: auto;
        height: 288px;
        width: 100%;
        margin-bottom: 38px;
      }
      .hero__info {
        width: 100%;
        &__caption {
          margin-bottom: 19px;
        }
      }
    }
  }
}

/**********-----MAIN >>> experience-----*********/
.companies{
  padding: 120px - $header-height 72px 120px;
  &__caption-block {
    margin-bottom: 40px
  }
  .caption-block {
    &__overline{
      color: $color-light-grey;
      margin-bottom: 8px;
    }
    &__caption{
      max-width: 690px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &__item{
      width: 32%;
    }
    .company {
      &__label-number{
        color: $color-light-grey;
      }
      &__caption {
        margin-bottom: 22px;
        &_green {
          color: $color-green;
        }
        &_blue {
          color: $color-blue;
        }
        &_pink {
          color: $color-pink;
        }
      }
      &__description {
        color: $color-light-grey;
        width: 90%;
      }
    }
  }
}
.philosophy {
  width: 100%;
  height: 600px;
  display: flex;
  &__text {
    padding: 120px 72px;
    width: 50%;
    color: $color-level-1;
    background-color: $color-peach;
    &__caption {
      letter-spacing: 1px;
      margin-bottom: 25px;
    }
    &__description {
      color: $color-dark-grey;
      margin-bottom: 135px;
    }
    &__link {
      text-decoration: none;
      color: $color-level-1;
      border-bottom: 1px solid $color-level-1;
      padding-bottom: 7px;
    }
  }
  &__image {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.skillset {
  width: 100%;
  padding: 120px 0;
  display: flex;
  &__description {
    width: 35.7%;
    padding: 0 72px;
    &__caption {
      letter-spacing: 1px;
      margin-bottom: 26px;
    }
    &__text {
      color: $color-light-grey;
    }
  }
  &__list {
    width: 64.2%;
    display: flex;
    padding-right: 46px;
    flex-wrap: wrap;
    row-gap: 48px;
    &__item {
      width: 50%;
    }
    .skill {
      &__icon {
        width: 32px;
        height: 32px;
        margin-bottom: 24px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &__caption {
        margin-bottom: 12px;
      }
      &__description {
        color: $color-light-grey;
        width: 85%;
      }
    }
  }
}
.brands-container {
  width: 100%;
  height: 140px;
  overflow: hidden;
  .brands-tape {
    height: 100%;
    display: inline-flex;
    &__item {
      width: 340px;
      height: 140px;
      border: 1px solid $color-level-1;
      display: flex;
      align-items: center;
      justify-content: center;
      img {}
    }
  }
}
@media (max-width: 768px) {
  .companies{
    padding: 120px - $header-height 40px 80px;
    .caption-block {
      &__caption {
        padding-right: 24px;
      }
    }
    &__content {
      &__item{
        width: 31%;
      }
      .company {
        &__caption {
          padding-right: 24px;
        }
      }
    }
  }
  .philosophy {
    &__text {
      padding: 80px 40px;
      &__description {
        margin-bottom: 74px;
      }
    }
  }
  .skillset {
    padding: 80px 40px;
    flex-direction: column;
    &__description {
      width: 100%;
      padding: 0;
      margin-bottom: 52px;
    }
    &__list {
      width: 100%;
      padding-right: 0;
      column-gap: 48px;
      &__item {
        width: 45%;
      }
      .skill {
        &__description {
          width: 92%;
        }
      }
    }
  }
  .brands-container {
    width: 100%;
    height: auto;
    .brands-tape {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      &__item {
        width: 50%;
      }
    }
  }
}
@media (max-width: 640px) {
  .companies{
    width: 100%;
    padding: 48px 20px;
    &__caption-block {
      margin-bottom: 40px
    }
    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 33px;
      &__item{
        width: 100%;
      }
      .company {
        &__label-number{
          margin-bottom: 3px;
        }
        &__caption {
          padding-right: 0;
          margin-bottom: 16px;
          width: 100%;
        }
        &__description {
          color: $color-light-grey;
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }
  }
  .philosophy {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    &__text {
      padding: 46px 20px;
      width: 100%;
      &__caption {
        letter-spacing: 0.5px;
        margin-bottom: 19px;
      }
      &__description {
        margin-bottom: 88px;
      }
      &__link {
        padding-bottom: 3px;
      }
    }
    &__image {
      width: 100%;
      height: 450px;
    }
  }
  .skillset {
    width: 100%;
    padding: 78px 20px 64px;
    &__description {
      margin-bottom: 69px;
      &__caption {
        margin-bottom: 18px;
      }
    }
    &__list {
      &__item {
        width: 100%;
      }
      .skill {
        &__description {
          width: 100%;
        }
      }
    }
  }
}

/**********-----MAIN >>> projects-----*********/
.projects {
  width: 100%;
  .projects-done {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $projects-gap;
    padding: 120px 72px;
    height: 2200px;
    .caption-block {
      padding-right: 15px;
      margin-bottom: 55px;
      &__overline {
        color: $color-light-grey;
        margin-bottom: 8px;
      }
      &__caption {
        letter-spacing: 0.8px;
      }
    }
    .projects__item {
      width: calc(51% - #{$projects-gap});
      &__button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          margin-top: 65px;
        }
      }
    }
    .project {
      &__image {
        width: 100%;
        height: 620px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__text {
        padding: 40px 32px;
        background-color: $color-level-1;
        &__caption {
          margin-bottom: 16px;
        }
        &__description {
          color: $color-light-grey;
        }
      }
    }
  }
  .instagram {
    width: 100%;
    height: 600px;
    display: flex;
    &__text {
      padding: 120px 72px;
      width: 50%;
      color: $color-level-1;
      background-color: $color-peach;
      &__caption {
        letter-spacing: 1px;
        margin-bottom: 25px;
      }
      &__description {
        color: $color-dark-grey;
        margin-bottom: 135px;
      }
      &__link {
        text-decoration: none;
        color: $color-level-1;
        border-bottom: 1px solid $color-level-1;
        padding-bottom: 7px;
      }
    }
    &__image {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .dribbble {
    width: 100%;
    padding: 120px 182px;
    &__text {
      width: 640px;
      margin-bottom: 124px;
      &__caption {
        margin-bottom: 24px;
      }
      &__description {
        color: $color-light-grey;
        margin-bottom: 42px;
      }
      &__link {
        color: $color-text;
        text-decoration: none;
        border-bottom: 1px solid $color-light-grey;
        padding-bottom: 7px;
      }
    }
    &__image {
      width: 100%;
      height: 678px;
      overflow: hidden;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}
@media (max-width: 768px) {
  .projects {
    .projects-done {
      gap: $projects-gap * 2;
      padding: 80px 40px;
      height: auto;
      .caption-block {
        margin-bottom: 32px;
      }
      .projects__item {
        width: 100%;
      }
      .projects__item:last-child {
        display: none;
      }
    }
    .instagram {
      &__text {
        padding: 80px 40px;
      }
    }
    .dribbble {
      padding: 80px 40px;
      &__text {
        width: 100%;
        &__link {
          padding-bottom: 7px;
        }
      }
      &__image {
        height: 516px;
      }
    }
  }
}
@media (max-width: 640px) {
  .projects {
    .projects-done {
      gap: $projects-gap * 2;
      padding: 64px 20px 70px;
      height: auto;
      .caption-block {
        margin-bottom: 34px;
        &__caption {
          letter-spacing: 0;
        }
      }
      .projects__item {
        width: 100%;
      }
      .project {
        &__image {
          width: 100%;
          height: 400px;
        }
        &__text {
          &__caption {
            margin-bottom: 13px;
          }
        }
      }
    }
    .instagram {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      &__text {
        background-color: $color-violet;
        padding: 44px 20px 48px;
        width: 100%;
        &__caption {
          margin-bottom: 12px;
        }
        &__description {
          margin-bottom: 122px;
        }
        &__link {
          padding-bottom: 3px;
        }
      }
      &__image {
        width: 100%;
        height: 450px;
      }
    }
    .dribbble {
      padding: 64px 20px;
      &__text {
        margin-bottom: 68px;
        &__caption {
          font-size: 55px;
          line-height: 66px;
        }
        &__description {
          margin-bottom: 40px;
        }
      }
      &__image {
        height: 516px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

/**********-----MAIN >>> testimonials-----*********/
.testimonials {
  width: 100%;
  padding: 120px 72px;
  display: flex;
  gap: 24px;
  &__text {
    width: 50%;
    padding-right: 48px;
    &__caption {
      margin-bottom: 24px;
    }
    &__description {
      margin-bottom: 42px;
    }
    &__link {
      color: $color-text;
      text-decoration: none;
      border-bottom: 1px solid $color-light-grey;
      padding-bottom: 7px;
    }
  }
  &__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    &__item {
      width: 100%;
    }
    .review {
      border: 1px $color-dark-grey solid;
      &__image {
        width: 100%;
        height: 360px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__text-container {
        padding: 64px;
        .review__quote {
          margin-bottom: 64px;
        }
        .review__person {
          color: $color-light-grey;
          &__name {
            margin-bottom: 4px;
          }
          &__position {

          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .testimonials {
    padding: 80px 40px;
    gap: 10px;
    &__text {
      width: calc(50% - 5px);
      padding-right: 0;
    }
    &__list {
      width: calc(50% - 5px);
      gap: 64px;
      .review {
        &__text-container {
          padding: 32px;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .testimonials {
    padding: 49px 20px;
    flex-direction: column;
    gap: 68px;
    &__text {
      width: 100%;
      padding-right: 0;
      &__caption {
        margin-bottom: 17px;
      }
      &__description {
        margin-bottom: 40px;
      }
      &__link {
        padding-bottom: 6px;
      }
    }
    &__list {
      width: 100%;
      gap: 48px;
      &__item {
        width: 100%;
      }
      .review {
        &__text-container {
          padding: 32px;
        }
      }
    }
  }
}

/**********-----MAIN >>> photography-----*********/
.photography {
  width: 100%;
  padding: 120px 72px;
  &__text {
    max-width: 560px;
    margin-bottom: 65px;
    &__caption {
      margin-bottom: 25px;
    }
    &__description {
      color: $color-light-grey;
    }
  }
  &__buttons {
    margin-bottom: 40px;
    display: flex;
    gap: 24px;
  }
  &__photo {
    width: 100%;
    height: 420px;
    display: flex;
    gap: 24px;
    &__item {
      width: 25%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
@media (max-width: 768px) {
  .photography {
    padding: 80px 40px;
    &__text {
      max-width: 100%;
    }
    &__photo {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      &__item {
        width: calc((100% - 24px) / 2);
        height: 420px;
      }
    }
  }
}
@media (max-width: 640px) {
  .photography {
    padding: 48px 20px;
    &__text {
      max-width: 100%;
      margin-bottom: 38px;
    }
    &__buttons {
      display: flex;
      flex-wrap: wrap;
      button {
        width: calc((100% - 24px) / 2);
      }
    }
    &__photo {
      &__item {
        width: 100%;
      }
    }
  }
}

/**********-----MAIN >>> contact-form-----*********/
.contact-form {
  padding: 120px 182px;
  display: flex;
  gap: 24px;
  &__text {
    width: 50%;
    &__caption {
      margin-bottom: 24px;
    }
    &__description {
      color: $color-light-grey;
    }
  }
  &__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 8px;
    }
    input {
      border: 0;
      font: inherit;
      margin-bottom: 40px;
      background-color: $color-level-1;
    }
    button {
      font-weight: normal;
      padding: 24px 0;
    }
  }
}
@media (max-width: 768px) {
  .contact-form {
    padding: 80px 40px;
    &__text {
      width: 50%;
    }
  }
}
@media (max-width: 640px) {
  .contact-form {
    padding: 47px 20px;
    flex-direction: column;
    gap: 48px;
    &__text {
      width: 100%;
      &__caption {
        margin-bottom: 17px;
      }
    }
    &__form {
      width: 100%;
    }
  }
}

/**********-----FOOTER-----*********/
.footer {
  width: 100%;
  padding: 80px 72px;
  background-color: $color-level-1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: Sen-Regular, sans-serif;
  &__contacts {
    width: 100%;
    display: flex;
    margin-bottom: 46px;
    &__social {
      width: 50%;
    }
    .social {
      display: flex;
      flex-direction: column;
      &__logo {
        width: 130px;
        margin-bottom: 30px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &__links {
        display: flex;
        gap: 21px;
        cursor: pointer;
        &__item {
          width: 20px;
          height: 20px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &__nav {
      width: 50%;
      height: 192px;
      display: flex;
      justify-content: center;
      .nav-wrapper {
        width: 62%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 24px;
        &__item {
          color: $color-text;
          height: 48px;
          width: 48%;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
  &__copyright {
    width: 50%;
    color: $color-light-grey;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 80px 40px;
    &__contacts {
      &__nav {
        .nav-wrapper {
          width: 93%;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .footer {
    padding: 48px 20px;
    &__contacts {
      flex-direction: column;
      gap: 50px;
      margin-bottom: 48px;
      &__nav {
        height: auto;
        justify-content: flex-start;
        .nav-wrapper {
          width: 100%;
          &__item {
            width: 100%;
          }
        }
      }
    }
    &__copyright {
      width: 100%;
    }
  }
}



